* {
  margin: 0;
  padding: 0;
  text-decoration: none;
  box-sizing: border-box;
  font-family: monospace;
  font-size: 20px;
}

.fa-bars {
  cursor: pointer;
}
ul {
  background-color: brown;
  width: 200px;
  left: -200px;
  color: #fff;
  text-align: left;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 1rem;
  height: 100vh;
  position: relative;
}
ul h1 {
  font-size: 30px;
}
ul li {
  width: 80%;
  padding: 0.5rem;
  border-radius: 20px;
  cursor: pointer;
  user-select: none;
  list-style: none;
  transition: all 0.5s ease;
}
ul li:hover {
  background-color: white;
  color: brown;
}

ul .fa-times {
  position: absolute;
  top: 1rem;
  right: 1rem;
  cursor: pointer;
}
